# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
client/dist
client/node_modules
server/node_modules
server/dist
dist-ssr
*.local

# Misc
.env
.env.*
.vscode
!.vscode/extensions.json
.idea
.DS_Store

