@use "../utils/" as u;

.dashboard-page {
    display: flex;
    flex-direction: column;
    gap: u.em(20);
    padding: u.em(20);
    max-width: u.em(960);
    margin: 0 auto;

    &__hero-stats {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: u.em(20);

        @include u.breakpoint-min("large") {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
