@use "../utils/" as u;

.user-library-page {
    color: #f0eff8;
    width: 100%;

    &__controls {
        min-height: u.em(125);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: u.em(10);
        border-bottom: u.rem(1) solid rgba(127, 119, 221, 0.18);
        position: sticky;
        top: u.em(60);
        background-color: #0d0d14;
        padding: u.em(14) u.em(16);
        z-index: 99;
    }

    &__filters {
        display: flex;
        gap: u.em(10);
        width: 100%;

        &__select {
            height: u.em(56);
            border-radius: u.em(5);
            border: 1px solid black;
            padding: u.em(12);
        }
    }

    &__add__button {
        align-self: flex-end;
    }

    &__content {
        display: flex;
        overflow: hidden;
        height: calc(100svh - 185px);
        position: relative;

        &--none {
            width: 100%;
            padding: u.em(14) u.em(16);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: u.rem(24);
        }

        &--main-col {
            flex: 1;
            min-width: 0;
            padding: u.em(14) u.em(16);
            overflow: auto;
        }
    }

    &__games {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: u.em(12);
    }
}
