@use "../utils/" as u;

.user-library-page {
    color: #f0eff8;

    &__filters {
        border-bottom: u.rem(1) solid rgba(127, 119, 221, 0.18);
        position: sticky;
        top: u.em(60);
        background-color: #0d0d14;
        z-index: 99;
        height: u.em(50);
    }

    &__content {
        display: flex;
        overflow: hidden;
        height: calc(100svh - 110px);

        &--main-col {
            flex: 1;
            min-width: 0;
            padding: u.em(14) u.em(16);
            overflow: auto;
        }
    }

    &__games {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: u.em(12);
    }
}
