@use "variables" as v;

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--color-bg-app);
}

#root {
    height: 100%;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    color: var(--color-text-primary);
    font-family: v.$font-family;
}

// TODO: Used to for debugging, remove when done with app
// * {
//     outline: 1px solid red;
// }
