@use "../utils/" as u;
@use "variables" as v;

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--color-bg-app);
}

#root {
    height: 100%;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    color: var(--color-text-primary);
    font-family: v.$font-family;
}

.app-loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        font-size: u.$font-size-md;
        color: var(--color-text-tertiary);
    }
}

// TODO: Used to for debugging, remove when done with app
// * {
//     outline: 1px solid red;
// }
