@use "variables" as v;

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

// TODO: Change bg to var color
body {
    min-height: 100svh;
    width: 100%;
    background-color: var(--color-bg-app);
}

button {
    cursor: pointer;
}

#root {
    min-height: 100dvh;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    color: var(--color-text-primary);
    font-family: v.$font-family;
}

// TODO: Used to for debugging, remove when done with app
// * {
//     outline: 1px solid red;
// }
