:root {
    --color-bg-app: hsl(250, 37%, 97%);
    --color-bg-surface: hsl(0, 0%, 100%);
    --color-bg-card: hsl(250, 46%, 95%);
    --color-bg-card-hover: hsl(248, 43%, 93%);
    --color-text-primary: hsl(245, 32%, 14%);
    --color-text-secondary: hsl(243, 24%, 51%);
    --color-text-tertiary: hsl(244, 19%, 65%);
    --color-brand: hsl(245, 43%, 50%);
    --color-brand-hover: hsl(246, 45%, 37%);
    --color-brand-bg: hsl(244, 89%, 96%);
}

.darkmode {
    --color-bg-app: hsl(240, 21%, 6%);
    --color-bg-surface: hsl(240, 24%, 10%);
    --color-bg-card: hsl(240, 28%, 14%);
    --color-bg-card-hover: hsl(240, 26%, 16%);
    --color-text-primary: hsl(247, 39%, 95%);
    --color-text-secondary: hsl(244, 19%, 65%);
    --color-text-tertiary: hsl(243, 24%, 51%);
    --color-brand: hsl(245, 60%, 67%);
    --color-brand-hover: hsl(245, 64%, 79%);
    --color-brand-bg: hsl(244, 35%, 17%);
}
