@use "../utils/" as u;
@use "../globals/" as g;

.app-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__nav {
        height: u.rem(60);
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: u.rem(10) u.rem(24);
        border-bottom: 1px solid rgba(var(--color-brand-rgb), 0.18);
        background-color: var(--color-bg-surface);
        z-index: 99;

        &-auth {
            display: flex;
            gap: u.rem(20);
        }
    }

    &__outlet {
        flex: 1;
        min-height: 0;
        overflow-y: auto;
        width: 100%;
    }
}
