@use "../globals/" as g;
@use "../utils/" as u;

.app-auth-layout {
    min-height: g.$app-content-height;
    max-width: u.rem(768);
    width: 100%;
    padding: u.em(40) u.rem(24);
    margin: 0 auto;
}
